@import "../../../styles/mixins.scss";

.heroBackground{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    background-size: cover;
    width: 100vw;
    height: calc(100vw * 1000 / 1500 );
    //750 / 1288

   

}


