@import "../../../styles/mixins.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 119px 10px 33px;

  @include media-xl() {
    padding: 40px;
  }

  @include media-lg() {
    padding: 30px;
  }

  @include media-sm() {
    padding: 20px;
  }
}
