@import "../../../styles/mixins.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:  20px 50px;

  @include media-xl() {
    padding: 15px 45px;
  }

  @include media-lg() {
    padding: 15px 40px;
  }

  @include media-sm() {
    padding: 10px 20px;
  }
}
