@import "../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;

  ul {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    width: auto;

    @include media-lg() {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      background-color: #ffffffec;
      margin: 0;
      list-style: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      border: 2px solid #03495c;
      border-radius: 50px 4px;
      transform: translateX(-100%);
      //transition: transform 0.3s ease-in-out;

      &.menuItemsOpen {
        transform: translateX(0%);
      }
    }
  }

  li {
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    list-style: none;
    font-size: 16px;
  

    &:hover {
      color: #b4cd25;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      list-style: none;
      font-size: 16px;
      font-weight: 500;

      @include media-lg() {
        color: #03495c;
        cursor: pointer;
        list-style: none;
        font-size: 18px;

        &:hover {
          color: #b4cd25;
        }
      }
    }
  }

  &.mobileMenu {
   a{
    font-family: "Bebas Neue", sans-serif;
   }
  }

  .mobileMenuIcon {
    display: none;

    @include media-lg() {
      display: flex;
      cursor: pointer;
      position: relative;
      z-index: 3;
      color: #000000;
    }
  }

   .searchContainer {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }

    .searchBar {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      align-items: center;
    }

    .searchBar input {
      flex: 1;
      border: none;
      outline: none;
      padding: 5px 10px;
      font-size: 14px;
    }

    .searchBar button {
      background-color: #b4cd25;
      color: #ffffff;
      border: none;
      border-radius: 20px;
      padding: 5px 10px;
      margin-left: 10px;
      cursor: pointer;
    }
    .closeIcon {
      width: 24px; /* Ancho del icono */
      height: 24px; /* Alto del icono */
      cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
      fill: #b94444; /* Color de relleno del icono */
    }
  
    .closeIcon:hover {
      fill: #b4cd25; /* Cambia el color del icono al pasar el cursor sobre él */
    }
}
