.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px;
  height: auto;
  gap: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column; 
    align-items: center;
  }
}
