@import "../../../styles/mixins.scss";

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
 height: auto;
  gap: 40px;
  position: absolute;

  @include media-lg() {
    height: 100%;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 80px;

  @include media-lg() {
    gap: 20px;
    width: auto;
  }
}
